bin
node_modules
dist
.cache
package-lock.json
package.json

vendor
wp
composer.lock
wp-config.php
.htaccess

public/content/*
!public/content

public/content/plugins/*
!public/content/plugins

!public/content/plugins/monpotager